#wpadminbar #wp-admin-bar-my-account.with-avatar > .ab-empty-item img, #wpadminbar #wp-admin-bar-my-account.with-avatar > a img {
	border: none;
	border-radius: 16px;
	box-shadow: 0 0 30px -6px rgba(0,0,0,0.05);
	height: 32px;
	width: 32px;
}
#wp-admin-bar-my-account {
	> a {
		margin-right: 20px!important;
		&::after {
			content: '\f347';
			font-family: 'dashicons';
			margin-left: 9px;
			vertical-align: middle;
		}
	}
	.display-name {
		font-size: 14px;
	}
}
#adminmenuback, #adminmenuwrap, #adminmenu, #adminmenu .wp-submenu {
	width: 220px;
}
#wpcontent, #wpfooter {
	margin-left: 220px;
}
#adminmenu div.wp-menu-name {
	padding: 18px 18px 18px 46px;
}
#adminmenuback {
	border-radius: 0 15px 0 0;
	top: 44px;
}
#adminmenuwrap {
	border-radius: 0 15px 0 0;
}
div.wp-menu-image:before {
	padding: 17px 0 0 10px;
}
#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after, #adminmenu li.wp-has-submenu.wp-not-current-submenu:focus-within:after {
	top: 20px;
}
#adminmenu .wp-submenu {
	left: 220px;
}
body {
	font-family: 'Open Sans';
}
.folded #adminmenu {
	div.wp-menu-image:before {
		padding: 7px 0;
	}
}
