.tablenav {
	margin: 10px 0 15px;
}

.module-actions {
	a {
		width: 134px;

		+ a {
			margin-top: 10px !important;
		}
	}
}

.wp-list-table {
	height: 100%;
}


.osdxp-module-description-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: auto;
}

.toplevel_page_dxp-modules-installed {
	.wp-list-table.plugins .plugin-title {
		white-space: normal;
	}
}
