#dxp-actions {
	padding: 0 0 40px 0;

	.title {
		display: block;
		margin-top: 30px;
	}

	.row {
		align-items: stretch;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: stretch;
		min-width: 100%;

		.col {
			margin-bottom: 16px;
			min-width: 100px;
			text-decoration: none;
			width: 20%;

			&:hover {
				.postbox {
					box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
				}
			}
		}

		.postbox {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			height: 100%;
			justify-content: stretch;
			min-height: 100px;
			min-width: auto;

			> div {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				flex-wrap: wrap;
				justify-content: center;
				padding: 30px;
				&.dashicons-before {
					flex: initial;
				}
			}

			[class*=dashicons]:before {
				font-size: 40px;
				height: 40px;
				margin-bottom: 10px;
				width: 40px;
			}

			.group {
				flex-basis: 50%;
				flex-grow: 1;
			}

			span {
				color: $color-blackcurrant;
				display: block;
				font-size: 10px;
				line-height: 1.2;
				margin-bottom: 5px;
				text-transform: uppercase;
			}

			p {
				color: $color-blackcurrant;
				font-size: 18px;
				font-weight: 500;
				line-height: 1.2;
				margin: 0;
			}

			.button {
				margin-left: 20px;
				width: max-content;
			}
		}

		&.large {
			gap: 30px;
			.col {
				flex-grow: 1;
			}
		}
	}
}

@media #{$small-and-down} {
	#dxp-actions {
		padding: 0 0 20px 0;

		.row,
		.row.large {
			.col {
				max-width: 100%;
				width: 100%;

				.postbox {
					> div {
						padding: 15px 20px;
					}
				}
			}
		}
	}
}
